body {
	background-color: #cccebb;
	align-content: center;
}

.main {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #ffffff;
	height: 67px;
}

#index {
	width: 230px;
	background-color: #ffffff;
	float: left;
	padding: 10px;
	padding-bottom: 10px;
	position: relative;
	bottom: 396px;
	left: 770px;
	top: -403px;
	
}
#asidecontact {	
	width: 230px;
	background-color: #ffffff;
	float: left;
	padding: 10px;
	padding-bottom: 10px;
	position: relative;
	top: -560px;
	left: 770px;
}

#portheader {
	float: left;
	color: #4aaaa5;
	border-bottom: solid #cccccc;
    width: 630px;
    padding-bottom: 10px;


}

.asideheader {
	color: #4aaaa5;
	border-bottom: solid #cccccc;
	text-align: center;
	padding: 4px;
}

.worklinks {
	position: relative;
	top: 6px;
	left: 50px;
}
#asideport {
	width: 230px;
	background-color: #ffffff;
	float: left;
	padding: 10px;
	padding-bottom: 10px;
	position: relative;
	top: -733px;
	left: 770px;

}
.name {
	background-color: #4aaaa5;
	padding: 20px;
	width: 180px;
	color: #ffffff;
	margin-left: 60px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    top: -70px;
    float: right;
}

li {
	float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-right: 20px;
}

footer {
	background-color: grey;
	padding: 20px;
	text-align: center;
	margin: auto;
	clear: both;
	border-top: 5px solid #4eeeef;
}

section {
	width: 630px;
	background-color: #ffffff;
	overflow: auto;	
	padding: 20px;
	text-align: justify;
	margin-left: 60px;
	margin-top: 50px;


}

.personalpic {
	float: left;
	padding: 10px;
	padding-top: 10px;

}
.asidelinks {
	margin-left: 35px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sectionheader {
	float: left;
	color: #4aaaa5;
	border-bottom: solid #cccccc;
    width: 630px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;
    }
input[type=submit]:hover {
    background-color: #4caf50;
}



#contactme {
	float: left;
	color: #4aaaa5;
	border-bottom: solid #cccccc;
    width: 630px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;
    }
}

#contact {
	margin-top: 30px;
}

.header {
	border-bottom: solid #dddddd;
}
